* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Norse";
  src: url("/assets/Norse-Bold.otf");
}

.container-fluid {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  background-color: white;
  min-height: 100vh;
  display: flex;
}

.side-box {
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 40%;
  height: 100%;
  position: relative;
}

.logo-wrapper {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
}

.odin-logo {
  max-height: 130px;
}

.text-logo {
  display: inline;
}

.text-logo {
  font-family: "Norse";
  font-size: 7rem;
}

.unsplash-credit {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  color: white;
  bottom: 0;
  padding: 20px;
}

.unsplash-credit a {
  color: white;
}

.unsplash-credit p {
  text-align: center;
}

.main-content {
  width: 60%;
}

.heading {
  height: 32vh;
  box-sizing: border-box;
  padding: 120px 80px 0 50px;
  background-color: azure;
}

.main-form {
  box-sizing: border-box;
  padding: 20px 50px;
  box-shadow: 0 10px 5px -5px rgb(221, 221, 221);
}

.main-form label {
  font-size: 0.8em;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
}


.main-form input {
  display: block;
  width: 230px;
  height: 27px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  padding: 0 10px;
}

.main-form input:focus {
  outline: 1px solid blue;
  box-shadow: 2px 2px 10px #c8cace;
}

.d-flex {
  display: flex;
}

.form-group {
  margin-right: 67px;
}

.form-aligning {
  margin: 20px 0;
}

.button-box {
  box-sizing: border-box;
  padding: 35px 50px;
}

.btn {
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  padding: 15px 50px;
  font-size: 1em;
  font-weight: bold;
  background-color: #596D48;
  color: white;
  box-shadow: 2px 2px 15px 1px gray;
}

.button-box p {
  margin-top: 50px;
  font-size: 1.1em;
}

.button-box a {
  text-decoration: none;
  color: #596D48;
  font-weight: bold;
}

@media only screen and (max-width: 914px) {
  .logo-wrapper {
    display: block;
  }

  .heading {
    height: 32vh;
    box-sizing: border-box;
    padding: 60px 80px 0 50px;
    background-color: azure;
  }
}

@media only screen and (max-width: 1370px) {
  .d-flex {
    display: block;
  }

  .heading h2 {
    font-size: 1em;
  }
}